<div class="bar bar-header">
  <button class="button icon ion-ios-more-outline"></button>
  <h1 class="title"></h1>
  
</div>
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
	<!-- Chats Tab -->
	<ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
		<ion-nav-view name="tab-chats"></ion-nav-view>
	</ion-tab>
	
	<!-- Shareboard Tab -->
	<ion-tab title="Moments" icon-off="ion-aperture" icon-on="ion-aperture" href="#/tab/dash">
		<ion-nav-view name="tab-dash"></ion-nav-view>
	</ion-tab>
	<!-- Group Tab -->
	<ion-tab title="Clubs & Chat" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/clubs">
		<ion-nav-view name="tab-clubs"></ion-nav-view>
	</ion-tab>

	<!-- Account Tab -->
	<ion-tab title="Me" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
		<ion-nav-view name="tab-account"></ion-nav-view>
	</ion-tab>


</ion-tabs>
